<html>

<body>

<form method="POST" action="/new">
    <label for="nam">Message</label>
    <input type="text" id="nam" name="mes">
    <label for="user">User</label>
    <input type="text" id="user" name="user">
    <button type="submit">Submit</button>
</form>

</body>


</html>